<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabod</title>
    <style type="text/css">
   .justify { text-align: justify;}
    </style>
    <link rel="stylesheet" href="../static/web.css">
    <script type="text/javascript" src="../static/script.js"></script>
</head>
<body>
    <nav>
        <div class="wrapper">
            <div class="logo"><a href=''>Cabod</a></div>
            <div class="menu">
                <ul>
                    <li><a href="#beranda">Beranda</a></li>
                    <li><a href="#tentang">Tentang</a></li>
                    <li><a href="#tim">Tim</a></li>
                    <li><a href="#mitra">Mitra</a></li>
                    <li><a href="#kontak">Kontak</a></li>
                    <li><a href="index.html" class="tbl-biru">Ayo Mulai</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper">

        <!-- untuk home -->
        <section id="beranda">
            <img src="https://i.postimg.cc/8C3wXYTR/home.jpg" width="550" height="550" />
            <div class="kolom">
                <p class="deskripsi">Implementasi Project Artificial Intelligence</p>
                <h2>Cashier Automatically Based Object Detection</h2>
                <p class="justify">Cabod adalah aplikasi berbasis web yang berguna untuk mendeteksi semua produk secara sekaligus untuk mempercepat kasir dalam menginput pembelian barang.</p>
                <p><a href="#tentang" class="tbl-pink">Pelajari Lebih Lanjut</a></p>
            </div>
        </section>

        <!-- untuk courses -->
        <section id="tentang">
            <div class="kolom">
                <p class="deskripsi">Tentang Aplikasi yang Kami Buat</p>
                <p>Mengapa harus menggunakan Cabod?</p>
                <p class="justify">Cabod menggunakan algoritma yolo. Hasil dari argumentasi data dengan yolov3-tiny mencipatakan deteksi dengan akurasi hingga lebih dari 90% bahkan secara real-time.</p>
                <p>Apa saja Kelebihan dan Kekurangan Cabod?</p>
                <p class="justify">Dengan memanfaatkan sistem kecerdasan buatan atau AI, Aplikasi yang kami buat mampu mendeteksi semua barang yang ada pada frame secara sekaligus tanpa menginputkan barang atau produk secara individual. Namun Cabod memiliki kekurangan yaitu tidak bisa mendeteksi barang jika barang tertumpuk menjadi satu ini mengakibatkan sistem hanya mendeteksi bagian atas saja.</p>
                <p><a href="index.html" class="tbl-biru">Ayo Mulai</a></p>
            </div>
            <img src="https://i.postimg.cc/tJ96Bdnd/about.jpg" width="600" height="600" />
        </section>

        <!-- untuk tutors -->
        <section id="tim">
            <div class="tengah">
                <div class="kolom">
                    <h2>Tim</h2>
                    <p>Deskripsi Kelompok, Nama Anggota, Asal Universitas, Desc Jobs Masing-masing</p>
                </div>

                <div class="tutor-list">
                    <div class="kartu-tutor">
                        <img src="https://i.postimg.cc/SsS8r7M6/1d.jpg"/>
                        <p>Steri Nugroho</p>
                    </div>
                    <div class="kartu-tutor">
                        <img src="https://i.postimg.cc/15kqTZF5/2d.jpg"/>
                        <p>Umi Rofifah</p>
                    </div>
                    <div class="kartu-tutor">
                        <img src="https://i.postimg.cc/V5Qk7mVx/3d.jpg"/>
                        <p>M Sri Ageng R</p>
                    </div>
                    <div class="kartu-tutor">
                        <img src="https://i.postimg.cc/PJZwf3sk/4d.jpg"/>
                        <p>Putri Amallia R</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- untuk partners -->
        <section id="mitra">
            <div class="tengah">
                <div class="kolom">
                    <h2>Mitra</h2>
                    <p>Pihak yang terlibat dalam program ini adalah sebagai berikut</p>
                </div>

                <div class="partner-list">
                    <div class="kartu-partner">
                        <img src="https://i.postimg.cc/8zkjxP5G/put.jpg"/>
                    </div>
                    <div class="kartu-partner">
                        <img src="https://i.postimg.cc/VNxssYYd/pkm.jpg"/>
                    </div>
                    <div class="kartu-partner">
                        <img src="https://i.postimg.cc/4dgwT9hy/pa.jpg"/>
                    </div>
                    <div class="kartu-partner">
                        <img src="https://i.postimg.cc/CLx0gZjc/por.jpg"/>
                    </div>
                    <div class="kartu-partner">
                        <img src="https://i.postimg.cc/90xvMpGJ/pai.jpg"/>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- untuk contact -->
    <div id="kontak">
        <div class="wrapper">
            <div class="footer">
                <div class="footer-section">
                    <h3>Cabod</h3>
                    <p>Aplikasi kasir menggunakan AI berbasis Pengenalan Objek atau Gambar!</p>
                </div>
                <div class="footer-section">
                    <h3>Tentang</h3>
                    <p>Website ini dibuat untuk mendeployment model yang sudah dikerjakan dari Project Akhir!</p>
                </div>
                <div class="footer-section">
                    <h3>Kontak</h3>
                    <p>Jl. Letjend Pol. Soemarto No.127, Watumas, Purwanegara, Kec. Purwokerto Utara, Kabupaten Banyumas, Jawa Tengah</p>
                    <p>Kode Pos: 53127</p>
                </div>
                <div class="footer-section">
                    <h3>Media</h3>
                    <p><b>YouTube</b></p>
                    <p><b>Facebook</b></p>
                    <p><b>Instagram</b></p>
                </div>
            </div>
        </div>
    </div>

    <div id="copyright">
        <div class="wrapper">
            &copy; 2022. <b>Cabod</b> All Rights Reserved.
        </div>
    </div>
    
</body>
</html>